<mat-grid-list cols="2" rowHeight="100vh">
  <mat-grid-tile>
    <hot-table
      [settings]="instance1"
      [contextMenu]="true"
      licenseKey="non-commercial-and-evaluation">
      <hot-column title="Left col 1"></hot-column>
      <hot-column title="Left col 2"></hot-column>
      <hot-column title="Left col 3"></hot-column>
      <hot-column title="Left col 4"></hot-column>
    </hot-table>
  </mat-grid-tile>
  <mat-grid-tile>
    <hot-table
      [settings]="instance2"
      [contextMenu]="true"
      licenseKey="non-commercial-and-evaluation">
      <hot-column title="Right col 1"></hot-column>
      <hot-column title="Right col 2"></hot-column>
      <hot-column title="Right col 3"></hot-column>
      <hot-column title="Right col 4"></hot-column>
      <hot-column title="Right col 5"></hot-column>
      <hot-column title="Right col 6"></hot-column>
      <hot-column title="Right col 7"></hot-column>
      <hot-column title="Right col 8"></hot-column>
    </hot-table>
  </mat-grid-tile>
</mat-grid-list>
